.img_ferramentas{
    img{
        width: 90px;
    }
}
p{
    text-align: justify;
}
body{
    text-align: justify;
}
blockquote p{
    text-align: left !important;
}
.md-nav{
    text-align: left;
}
.table_his_usuario{
        th, td {
            padding: 20px 8px !important;
        }
        th:first-child{
            width: 70px;
            min-width: 70px !important;
        }
        th:nth-child(7){
            width: 20px;
            min-width: 20px !important;
        }
        th:nth-child(5){
            width: 20px;
            min-width: 20px !important;
        }th:nth-child(6){
            width: 20px;
            min-width: 20px !important;
        }
}
.logo_correios{
    img{
        border: 10px solid FFD400; 
        border-radius: 10%;
        width: 40%;
    }
}

.ftf{
    width: 100%;
    height: 653px;
}

.personas{
    img{
        width: 150px;
    }
    figcaption {
        font-style: normal;
        font-size: 12px;
        font-weight: normal;
    }
    th:first-child {
        align-content: center;
    }
    td:first-child {
        align-content: center;
    }
}
:root {
    --md-accent-fg-color:        #FFD400;
    --md-accent-fg-color--light: #FFD400;
    --md-accent-fg-color--dark:  #CD992B;
  }


